page-welcome {
    #welcome{
       
        
        ion-grid.grid {
            bottom: 11%;
            position: absolute;
            left: 0%;
          
        }
        .logo{
            height: 20%;
            left: 33%;
            top: 19%;
            position: absolute;
        }
        #b1
        {
            background-color: #D5C82A;
            color: #4A4737;

        }
        #b2
        {
            background-color: #D5C82A;
            color: #4A4737;
        }
       
    }
}
